.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
}
.owl-prev {
  left: -20px;
}
.owl-next {
  right: -20px;
}
.owl-prev i,
.owl-next i {
  transform: scale(2, 5);
  color: white;
  background-color: #4cc1f6;
  border-radius: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  font-size: 10px;
}
.owl-carousel .active span {
  background: #4cc1f6 !important;
}
